[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PCMBase"]
	path = PCMBase
	url = https://github.com/venelin/pcmbase
	shallow = true
	registered = true
[submodule "PCMBaseCpp"]
	path = PCMBaseCpp
	url = https://github.com/venelin/pcmbasecpp
	shallow = true
	registered = true
[submodule "POUMM"]
	path = POUMM
	url = https://github.com/venelin/poumm
	shallow = true
	registered = true
